# Xcode
.DS_Store
build/
DerivedData/
*.moved-aside
*.pbxuser
*.xcuserstate
*.xcscmblueprint
xcuserdata/

# Swift Package Manager
.build/
.swiftpm/

# Playgrounds
timeline.xctimeline


# CocoaPods (if you ever use it)
Pods/

# Carthage (if you ever use it)
Carthage/Build/

# fastlane (later, for deployment)
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
